html {
  background: #526977;
  font-family: 'Helvetica';
  /* color: #333; */
  font-size: 20px;
}

.error-message {
  color:red;
  margin: 1.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  /* height: 2.5rem; */
  display: flex;
}

.header-button {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-top: solid 2px white;
  border-left: solid 2px white;
  color: black;
  background-color: rgb(207,206,202);
  height: 1.4rem;
  padding-bottom: 0.1rem;
  width: 5rem;
  margin: 1rem 1rem;
  box-shadow: 0.1rem 0.1rem;
  cursor: pointer;
}

.header-button:active {
  border-top: 0;
  border-left: 0;
  border-bottom: solid 1px black;
  border-right: solid 1px black; 
  box-shadow: 0 0 #666;
  box-shadow: -0.1rem -0.1rem;
  transform: translateY(0.1rem);
}

.header-logo-div {
  display: flex;
  align-items: center;
}

.header-logo-welcome-text {
  color: white;
  margin: 0;
  margin-left: 4rem;
}

.header-logo-text {
  font-size: 2.5rem;
  color: white;
  /* margin-left: -1.0rem; */
  z-index: 9;
}

.header-logo-img {
  max-width: 4rem;
  z-index: 10;
}

.main-window {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.friendlist-component {
  background-color: rgb(207,206,202);
}

.friendlist {
  border: 2px inset rgba(116, 116, 116, 0.865);
  background-color: white;
}

.friendlist-wrapper {
  padding: 0.4rem;
  border: 1px outset;
  border-top: 0;
  background-color: rgb(207,206,202);
  margin-top: -0.1rem;
  z-index: 13;
}

.friendlist-tag-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.friendlist-tag {
  border-top: 1px outset;
  border-left: 1px outset;
  border-right: 1px outset;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
  min-width: 3.6rem;
  display: flex;
  justify-content: center;
}

.friendlist-tag-people-on {
  border-right: 2px solid;
}

.friendlist-tag-buddies-off {
  border-bottom: 2px inset;
}

.friendlist-tag-buddies-on {
  border-bottom: 0;
  border-left: 2px solid;
}

.friendlist-tag-people-off {
  border-right: 1px inset;
  border-bottom: 2px inset;
}

.friendlist-buddy-title {
  border-bottom: 1px groove #666;
}

.friendlist div {
  margin: 0 0.2rem;
}

.friendlist-name {
  cursor: pointer;
}

.friendlist-buttons {
  display: flex;
}

.chat {
  display: flex;
  justify-content: center;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 18rem;
  width: 45vw;
  background-color: rgb(207,206,202);
}

.chat-window {
  font-family: 'Times New Roman', Times, serif;
  height: 10rem;
  background-color: white;
  border: 2px inset rgba(116, 116, 116, 0.865);
  overflow-y: scroll;
  font-size: 18px;
}

.chat-input {
  margin: 0.3rem 0;
  height: 3rem;
  border: 2px inset rgba(116, 116, 116, 0.865);
  font-size: 18px;
  resize: none;
}

.chat-button-container {
  display: flex;
  flex-direction: row;
  max-height: 4rem;
  justify-content: space-between;
  border-style: groove;
}

.chat-avatar-gif {
  width: 4.5rem;
  /* margin-bottom: 0.3rem; */
  border-right: 1px groove;
}

ul.chat-log {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-log li {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.2rem;
}

.chat-your-name {
  font-size: 1rem;
  color: red;
  font-weight: 600;
}

.chat-their-name {
  color: blue;
  font-weight: 600;
}

.chat-created-at {
  color: grey;
}

.chat-message {
  margin-left: 0.5rem;
}

.chat-popup-error {
  display: flex;
  flex-direction: column;
  border: 1px groove;
  padding: 1rem;
  background-color: rgb(207,206,202);
}

.chat-popup-error-button {
  margin: 1rem 0 0 0;
  display: flex;
  align-self: center;
}

.window {
  display: flex;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4)
}

.modal-inner {
  display: flex;
  flex-direction: column;
  /* width: 35%; */
  background-color: rgb(207,206,202);
}

.modal-child {
  background-color: rgb(207,206,202);
  margin: 0.4rem;
  /* border: 1px solid black; */
  /* padding-top: 1.5rem; */
}

.modal-button {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
  padding: 0.1rem;
  font-size: 1rem;
  padding-left: 0.2rem;
  /* color: rgb(51, 50, 50); */
  color: white;
  background: rgb(16,19,68);
  background: linear-gradient(90deg, rgba(16,19,68,1) 0%, rgba(85,116,173,1) 49%, rgba(180,208,242,1) 100%);
}

.modal-button-box {
  background-color: rgb(207,206,202);
  border: 2px outset rgba(140, 140, 140, 0.865);
  padding: 0 0.2rem;
  cursor: pointer;
  color: black;
  /* line-height: unset; */
  font-weight: 700;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-button-box:active {
  border: 2px inset rgba(140, 140, 140, 0.865);
}


.login-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.login-register-form > input {
  border-radius: 0.2rem;
  height: 2rem;
  padding: 0;
  background-color: rgb(238, 238, 238);
  color: black;
  border: 1px solid rgba(99, 99, 99, 0.913);
  margin: 1rem 0;
  min-width: 12rem;
}

.form-button {
  margin: 0;
}

button.send {
  /* display: flex;
  align-self: flex-end; */
  background-color: rgb(207,206,202);
  font-weight: 600;
  width: 5rem;
  color: black;
  border-left: 1px groove;
  padding: 1rem 1rem;
  font-size: 20px;
}

button.send:active {
  background-color: rgb(165, 164, 160);
}

textarea, select, input, button { outline: none; }